#dazeets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: auto;
    gap: 20px;
}

.dazeet > .dazeet-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.dazeet-date {
    font-style: italic;
}

.o-que-e {
    grid-column: 2;
    padding: 1rem;
    text-align: justify;
    border: 2px solid blue;
    background-color: rgb(0, 0, 255, 0.45);
}

#info {
    color: yellow;
}

@media (width <= 500px) {
    #dazeets {
        grid-template-columns: 1fr;
    }

    .o-que-e {
        margin: 0 1.2rem;
    }
}