#assets {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#assets > a > img {
    width: 100%;
    height: 100%;
}

#assets > a {
    border: 2px solid rgb(0, 0, 255);
    padding: 0;
}

@media (width <= 500px) {
    #assets {
        flex-wrap: wrap;
        gap: 0;
    }
}