body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

#message {
    padding: 3rem;
    background-color: rgb(255, 255, 0, 0.5);
    border: 2px dotted black;
}
