@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "JetBrains Mono", monospace;
    background-image: url('/imgs/bg.jpg');

    display: grid;
    grid-template-columns: 15% 1fr 15%;
    color: black;
}

header {
    grid-column: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.7rem 0;
    border-bottom: 2px solid black;
}

header a {
    text-decoration: none;
}

a {
    color: black;
}

header ul {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    gap: 1.5rem;
}

header > nav > ul > a, header > a > h1 {
    padding: 8px;
}

a:hover {
    /* background-color: rgb(128, 0, 128, 0.1); */
    background-color: rgba(255, 255, 39, 0.5);
}

.space {
    grid-column: 2;
    height: 1rem;
}

main {
    grid-column: 2;
}

main > section {
    padding: 1rem;
    background-color: rgb(29, 26, 26, 0.2);
    text-align: justify;
}
