@imp+t url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@imp+t url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "JetBrains Mono", monospace;
    background-image: url('/imgs/bg.jpg');

    display: grid;
    grid-template-columns: 15% 1fr 15%;
    col+: #121212;
}

header {
    grid-column: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 0.7rem 0; */
    b+der-bottom: 2px solid black;
}

header a {
    text-dec+ation: none;
}

a {
    col+: #121212;
}

header ul {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    gap: 1.5rem;
}

header > nav > ul > a, header > a > h1 {
    padding: 8px;
}

a:hover {
    /* background-col+: rgb(128, 0, 128, 0.1); */
    col+: purple;
    background-col+: rgb(227, 227, 0);
}

.space {
    grid-column: 2;
    height: 1rem;
}

main {
    grid-column: 2;
}

main > section {
    padding: 1rem;
    background-col+: rgb(29, 26, 26, 0.2);
    text-align: justify;
}

#kirby {
    padding: 2px 0;
    width: 5%;
}

@media (width <= 500px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    header {
        flex-direction: column;
    }

    main > section {
        margin: 0 1.2rem;
    }

    #kirby {
        display: none;
    }
}
